:root {
  --comment-background: #d8f3dc;
  --text-color: #081c15;
  --post-background: #52b788;
  --alert-background: #464646;
  --bootstrap-bg-light: #f8f9fa;
  --dark-theme-background: #212121;
  --color-4: #1B4332;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

textarea {
  resize: none;
}

header {
  background-color: var(--bootstrap-bg-light);
}

.loginForm,
.signUpForm {
  padding: 5px;
}

.createpost-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.createpost-boxinform {
  width: 50%;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-submit {
  background-color: var(--post-background) !important;
  border: 1px solid var(--post-background) !important;
}

/* Post component */
.delete-post-mask {
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 5px;
}
/*  */
.handclap-unclicked {
  filter: saturate(0);
}

#button-post-reaction {
  background-color: var(--post-background);
}

#button-comment-reaction {
  background-color: var(--comment-background);
}

.navbar-nav .separator {
  height: 40px; /* Adjust the height of the separator as needed */
  width: 2px; /* Width of the vertical line */
  background-color: black; /* Color of the vertical line */
  margin: 0 10px; /* Adjust the margin to control spacing between tabs and lines */
}

.navbar-nav hr {
  display: none;
}

.navbar-toggler {
  border: none;
}

/* Jorge Started Here */
.custom-post-card {
  background-color: var(--post-background);
}

.custom-comment-card {
  background-color: var(--comment-background);
}

.custom-comment-collapse {
  display: flex;
  justify-content: center;
}

.custom-comment-card-body {
  background-color: var(--comment-background);
  padding: 10px;
}

/* Jorge Ended Here */
/** edit/delete/cancel links **/
.link {
  cursor: pointer;
  text-decoration: none;
}

#alertModal .modal-content {
  background-color: var(--alert-background);
}

#button-search-filter:hover {
  background-color: #0041a3;
}

.readit-logo {
  font-size: 40px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: var(--post-background);
}

@media screen and (max-width: 992px) {
  .navbar-nav .separator {
    display: none;
  }

  .navbar-nav hr {
    display: block;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-theme-background);
  }

  header, .modal-content {
    background-color: var(--dark-theme-background);
    border: 1px solid white;
    border-radius: 10px;
  }

  .dropdown-menu {
    background-color: var(--dark-theme-background);
    border: 1px solid white;
  }

  .nav-link, h1, h2, h5, p, label, .custom-nav, .fa-square-xmark {
    color: white !important;
  }

  .navbar .active {
    color: white !important;
    text-decoration: underline;
  }

  .navbar button {
    color: white !important;
  }

  .nav-link:hover {
    color: white !important;
  }

  .navbar-nav .separator {
    background-color: white;
  }
}