:root {
    --color-1: #d8f3dc;
    --text-color: #081c15;
    --color-2: #52b788;
    --color-3: #D8F3DC;
    --color-4: #1B4332;
    --color-5: #40916C;
    --color-6: #2D6A4F;
    --color-7: #95D5B2;
}

.post-container {
    margin-bottom: 25px;
}

.custom-post-card {
    background-color: var(--color-1);
    box-shadow: 0 0 10px 5px rgba(50, 50, 50, 0.2);
}

.main-title {
    color: var(--text-color);
    text-decoration: none;
    font-size: 125%;

}

.main-title a {
    color: var(--text-color);
    text-decoration: none;
}

.main-title a:hover {
    color: var(--color-4);
    text-decoration: underline;
}

.main-text {
    margin: 5px 0 20px 0;
}

.link {
    color: var(--color-6);
    font-size: 25px;
    margin-right: 15px;
    visibility: hidden;
}

.link:hover {
    color: var(--text-color);
    margin-right: 15px;
}

.post-container:hover .link,
.comment-container:hover .link {
    visibility: visible;
}

.comment-icon {
    min-width: 100px;
    text-wrap: nowrap;
}

.comment-icon i {
    margin-right: 5px;
}

#button-post-reaction {
    background-color: transparent;
}

/** comment component styles **/
.comment-container {
    margin-left: 50px;
}

/** tags buttons **/
.tag-container .rounded {
    margin-bottom: 5px;
}

.btn:hover {
    background-color: var(--color-4);
    border-color: var(--text-color);
    color: var(--color-1);
}
.tag-container .btn:hover {
    background-color: var(--color-4);
    border-color: var(--text-color);

}